/* -=Header
------------------------------------ */

header.header {
  position: relative;
  z-index: 999999;
  float: left;
  width: 100%;
  height: 80px;
  background-color: #fff;
  @include box-sizing(border-box);
}

/* -=Logotype */

.logo {
  float: left;
  width: 200px;
  height: 80px;
  text-align: center;
  background-color: $main-color;
  a {
    text-decoration: none;
  }
  span {
    display: block;
    padding: 26px;
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;
  }
}

/* -=Search */

.search-artist {
  position: absolute;
  left: 200px;
  width: 400px;
  height: 100%;
}

.input-wrapper {
  position: relative;
  float: left;
  margin-top: 5px;
  padding: 10px 20px;
  .fa.fa-search {
    position: absolute;
    right: 35px;
    top: 28px;
    color: $main-color;
    font-size: 18px;
  }
}

.search__input {
  padding: 15px 20px;
  width: 400px;
  background: $light-grey;
  font-size: 18px;
  border: 0;
  border-left: 2px solid $main-color;
  @include border-radius(30px);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  &:active,
  &:focus, {
    outline: none;
  }
}

.search-results {
  position: absolute;
  top: 80px;
  overflow-y: scroll;
  padding: 20px;
  width: 472px;
  height: auto;
  background: #fff;
  @include box-sizing(border-box);
  &.is-active {
    left: 0px;
  }
  img {
    @include border-radius(50%);
  }
}

.search-item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  list-style: none;
  a {
    display: inline-block;
    vertical-align: top;
    padding-top: 18px;
    padding-left: 15px;
    color: #3D3D3D;
    text-decoration: none;
    @include transition(color, .3s, ease);
    &:hover {
      color: $main-color;
    }
  }
}

.wc-user {
  float: right;
  position: relative;
  z-index: 101;
  ul {
    line-height: 79px;
    li {
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
      img {
        @include border-radius(50%);
        vertical-align: middle;
      }
      a {
        color: $text-color;
        text-decoration: none;
        @include transition(color, .3s, ease);
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}
