/* -=Header
------------------------------------ */

.header {
  float: left;
  width: 100%;
  min-height: 80px;
  background-color: #fff;
  @include box-sizing(border-box);
}

/* -=Search */

.search-artist {
  position: absolute;
  height: 100%;
  width: 100%;
  &.is-hidden {
    height: auto;
    width: auto;
  }
}

.input-wrapper {
  position: relative;
  float: left;
  margin-top: 10px;
  padding: 10px 20px;
  .fa.fa-search {
    position: absolute;
    right: 35px;
    top: 23px;
    color: $main-color;
    font-size: 18px;
  }
}

.search__input {
  padding: 10px 20px;
  width: 400px;
  font-size: 18px;
  border: 1px solid #e5e5e5;
  @include border-radius(20px);
  &:active,
  &:focus, {
    outline: none;
  }
}

.search-results {
  position: absolute;
  top: 80px;
  overflow-y: scroll;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: #fff;
  @include box-sizing(border-box);
  &.is-active {
    left: 0px;
  }
  img {
    @include border-radius(50%);
  }
}

.search-results table {
  width: 100%;
  border-collapse: collapse;
  th {
    padding: 0 10px;
    text-align: left;
  }
  tbody tr {
    border-bottom: 1px solid #eee;
  }
  td {
    padding: 10px;
    vertical-align: middle;
    a {
      color: #3D3D3D;
      text-decoration: none;
      @include transition(color, .3s, ease);
      &:hover {
        color: $main-color;
      }
    }
  }
}

.search-item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  a {
    display: inline-block;
    vertical-align: top;
    padding-top: 18px;
    padding-left: 15px;
    color: #3D3D3D;
    text-decoration: none;
    @include transition(color, .3s, ease);
    &:hover {
      color: $main-color;
    }
  }
}

.wc-user {
  float: right;
  position: relative;
  z-index: 101;
}
