/* -=Header
------------------------------------ */

.header {
  float: left;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  @include box-sizing(border-box);
}

/* -=Search */

.search-artist {
  float: right;
}

.search__input {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 0;
  @include border-radius(20px);
  &:active,
  &:focus, {
    outline: none;
  }
}