/* -=Sidebar
------------------------------------ */

.g-side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  min-height: 600px;
  width: 200px;
  background-color: #373535;
  @include box-sizing(border-box);
}

/* -=Logotype */

.logo {
  height: 80px;
  text-align: center;
  background-color: $main-color;
  a {
    text-decoration: none;
  }
  span {
    display: block;
    padding: 26px;
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;
  }
}

/* -=Main navigation */

.g-navigation {
  float: left;
  margin-top: 20px;
  ul {
    li {
      display: block;
      margin-right: 15px;
      line-height: 36px;
      a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
      }
    }
  }
}