<div class="search-artist">
  <div class="input-wrapper">
    <i class="fa fa-search"></i>
    <input class="search__input" placeholder="Search.." type="text" ng-model="searchField" autofocus="true">
  </div>

  <div class="search-results" ng-controller="SearchCtrl" ng-show="showSearch">
    <span>Artists</span>
    <ul>
      <li class="search-item" ng-repeat="artist in artists | limitTo : 3">
        <img src="{{artist.images.0.url}}" alt="" />
        <a ng-click="hideSearch()" href="#/artist/{{artist.id}}">{{ artist.name }}</a>
      </li>
    </ul>
    <ul>
      <span>Tracks</span>
      <li class="search-item" ng-repeat="result in results | limitTo : 3">
        <a ng-click="hideSearch()" href="#/artist/{{result.artists.0.id}}">{{ result.name }}</a>
      </li>
    </ul>
    <ul>
      <span>Albums</span>
      <li class="search-item" ng-repeat="album in albums | limitTo : 3">
        <a ng-click="hideSearch()" href="#/album/{{album.id}}">{{ album.name }}</a>
      </li>
    </ul>
  </div>
</div>
