<div class="artist-page">
  <div class="do-parallax">
    <div class="artist-header"></div>
  </div>
  <div class="header">
    <div class="artist-info">
      <div class="artist-image">
        <img src="{{artistInfo.images.0.url}}" alt="{{artistInfo.name}}" width="200" height="200" />
      </div>
      <div class="artist-display">
        <span class="artist-name">{{artistInfo.name}}</span>
        <span class="artist-followers">Followers: {{artistInfo.followers.total | number : fractionSize}}</span>
        <span class="artist-btn"><a ng-href="{{artistInfo.external_urls.spotify}}" target="_blank">Follow</a></span>
      </div>
    </div>
  </div>
  <div class="content">

    <ul class="artist-nav">
      <li ng-class="isActive('tracks') ? 'active' : ''"><span ng-click="setCurrent('tracks')">Top tracks</span></li>
      <li ng-class="isActive('albums') ? 'active' : ''"><span ng-click="setCurrent('albums')">Albums</span></li>
      <li ng-class="isActive('related') ? 'active' : ''"><span ng-click="setCurrent('related')">Related artists</span></li>
    </ul>

    <div class="artist-albums clearfix" ng-show="isCurrent('albums')">
      <ul>
        <li ng-repeat="album in albums">
          <img src="{{album.images.1.url}}" alt="{{album.name}}" />
          <a ng-href="#/album/{{album.id}}">{{album.name}}</a>
        </li>
      </ul>
    </div>

    <div class="artist-related clearfix" ng-show="isCurrent('related')">
      <ul>
        <li ng-repeat="rel in related">
          <img src="{{rel.images.1.url}}" alt="{{rel.name}}" width="300" height="300" />
          <a ng-href="#/artist/{{rel.id}}">{{rel.name}}</a>
        </li>
      </ul>
    </div>

    <div class="artist-toptracks" ng-show="isCurrent('tracks')">
      <ul>
        <li ng-repeat="track in tracks">
          <span>{{track.name}}</span>
        </li>
      </ul>
    </div>

  </div>
</div>
