<header class="header">

  <div class="search-artist" ng-controller="SearchCtrl">
    <div class="input-wrapper">
      <i class="fa fa-search"></i>
      <input class="search__input" placeholder="Search.." type="text" ng-model="searchField" autofocus="true">
    </div>
    <div class="search-results">
      <table>
        <thead>
          <th></th>
          <th>Artist</th>
          <th>Track</th>
          <th>Album</th>
          <th>Duration</th>
          <th>Popularity</th>
        </thead>
        <tbody>
          <tr ng-repeat="result in results">
            <td>
              <img ng-src="{{ result.album.images.2.url }}" width="50" height="50"/>
            </td>
            <td>
              <a href="#/artist/{{result.artists.0.id}}">{{ result.artists.0.name }}</a>
            </td>
            <td>
              <a href="#/track/{{result.artists.0.id}}">{{ result.name }}</a>
            </td>
            <td>
              <a href="#/album/{{result.album.id}}">{{ result.album.name }}</a>
            </td>
            <td>

            </td>
            <td>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="wc-user">
    User: <a href="#/user/{{username}}">{{username}}</a> from {{userCountry}}
    <p ng-click="logout()">Logout</p>
  </div>
  
</header>