<header class="header">

  <div class="login-area" ng-hide="showLogin">
    <div ng-controller="LoginCtrl">
      <h2><a ng-click="login()">Login</a></h2>
    </div>
  </div>

  <div class="search-artist" ng-controller="SearchCtrl">
    <div class="input-wrapper">
      <i class="fa fa-search"></i>
      <input class="search__input" placeholder="Search.." type="text" ng-model="searchField" autofocus="true">
    </div>
    <div class="search-results">
      <div class="search-item" ng-repeat="artist in artists">
        <img ng-src="{{ artist.images.3.url }}" width="50" height="50"/>
        <a href="#/artist/{{artist.id}}">{{ artist.name }}</a>
      </div>
    </div>
  </div>
  
</header>